@mixin mq ($mq-width: min-width, $width: 400px) {
  @media screen and ($mq-width: $width) {
    @content
  }
}

@mixin logo ($size: 25px, $color: $magenta-color) {
  svg {
    width: $size;
    height: $size;

    #eye-outline {
      stroke: $color;
    }

    #eye-circle {
      fill: $color;
    }
  }
}