*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 12px;
}

body {
	background-color: $bg-color;
	color: $text-color;
	font-family: $font-family;
	letter-spacing: $letter-spacing;
	font-weight: 400;
	margin: 0;
}

main {
	margin-top: 75px;
	padding: 2.666667rem 0;

	&.home {
		padding: 0 0 2.666667rem 0;
	}
} 