.about-content {
  @include d-flex(column, 2.333333rem);
  padding-bottom: 2rem;
}

.about-group {
  @include d-flex(column, 2.333333rem);

  figure{
    img {
      max-width: 100%;
      height: 85vw;
      object-fit: cover;
    }
  }

  p {
    padding: 0 27px;
  }
}