.payment {
  @include d-flex(column, 1rem);
  
  .payment_methods {
    @include d-flex(column, 1rem);

    .method {
      @include d-flex(row, 0);
      label {
        width: 100%;
        background-color: $grey6;
        padding: 1.333333rem 2rem ;
        border-radius: 0.833333rem;
        font-weight: 600;
        text-transform: uppercase;

        @include mq(min-width, $m-wd) {
          padding: 0.833333rem 1rem;
          font-size: 0.8333333rem;;
        }
      }

      input {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 0px;
        max-width: 0px;
        margin: 0;

        &:checked {
          & ~ label {
            background-color: $cyan-color;
          }
        }
      }
    }
  }

  .place-order {
    padding-top: 3rem;
    @include d-flex(column, 2rem);
    @include mq(min-width, $m-wd) {
      font-size: 0.75rem;
    }

    .terms-conditions-checkout {
      @include d-flex(column, 1rem);
    }

    .button {
      border: 0;
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.166667rem;
      font-weight: 600;
      background-color: $magenta-color;
      color: $bg-color;
      padding-left: 3rem;
      padding-right: 3rem;

      @include mq(min-width, $m-wd) {
        padding: 0.75rem;
        font-size: 1rem;
      }
    }
  }
}