.woocommerce-notices-wrapper {
  padding: 0 $s-pd 1rem;
  @include d-flex(column, 0.5rem);

  @include max-width-center();

	@include mq(min-width, $m-wd) {
    padding-left: $m-pd;
		padding-right: $m-pd;
  }

  @include mq(min-width, $l-wd) {
    padding-left: $l-pd;
		padding-right: $l-pd;
  }

  @include mq(min-width, $xl-wd) {
    padding-left: $xl-pd;
		padding-right: $xl-pd;
  }

  &:empty {
    display: none;
  }

  .woocommerce-message {
    border-left: 3px solid $yellow-color;
    background-color: lighten($yellow-color, 35);
    padding: 0.5rem 1rem;
    color: $text-color;
    font-weight: 500;

    &.woocommerce-error {
      border-color: $red-color;
      background-color: lighten($red-color, 30);
    }

    &.woocommerce-info {
      border-color: $cyan-color;
      background-color: lighten($cyan-color, 35);
    }
  }
}