.account__navigation {
  

  .account__dropdown {
    margin: 0;
    background: $grey6;
    border: none;
    border-bottom: 1px solid $text-color;
    @include d-flex(row, 0);
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem 2rem;
    color: inherit;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
  
    .toggle-icon {
      width: 20px;
      height: 20px;
      stroke: $text-color;
  
      &.down {
        display: block;
      }
  
      &.up {
        display: none;
      }
    }

    &.open {
      .toggle-icon {
    
        &.down {
          display: none;
        }
    
        &.up {
          display: block;
        }
      }
    }
  }

  .account__items {
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    left: 0;
    max-height: 0;
    margin: 0;
    @include d-flex(column, 0);
    transition: max-height .2s;
    padding: 0 27px;

    .account__item {
      display: flex;
      align-items: stretch;
      background-color: $bg-color;

      &.is-active {
        background-color: $cyan-color;
        font-weight: 600;
      }

      a {
        width: 100%;
        padding: 1rem 2rem;
        border-bottom: 1px solid $grey4;
      }
      
    }
  }
}
