.account__navigation {
  text-transform: uppercase;

  .account__dropdown {
    margin: 0;
    background: $grey6;
    border: none;
    border-bottom: 1px solid $text-color;
    @include d-flex(row, 0);
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem 2rem;
    color: inherit;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    
  
    .toggle-icon {
      width: 20px;
      height: 20px;
      stroke: $text-color;
  
      &.down {
        display: block;
      }
  
      &.up {
        display: none;
      }
    }

    &.open {
      .toggle-icon {
    
        &.down {
          display: none;
        }
    
        &.up {
          display: block;
        }
      }
    }

    @include mq(min-width, $l-wd) {
      display: none;
    }
  }

  .account__items {
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    left: 0;
    max-height: 0;
    margin: 0;
    @include d-flex(column, 0);
    transition: max-height .2s;
    padding: 0 $s-pd;

    @include mq(min-width, $m-wd) {
      padding: 0 calc($m-pd + $s-pd);
    }

    .account__item {
      display: flex;
      align-items: stretch;
      background-color: $bg-color;
      font-size: 1rem;

      @include mq(min-width, $l-wd) {
        border-radius: 0.833333rem;
        background-color: $grey6;

        &:last-child {
          background: none;
          margin-top: 3rem;
        }
      }

      &.is-active {
        background-color: $cyan-color;
        font-weight: 600;
      }

      a {
        width: 100%;
        padding: 1rem 2rem;
        border-bottom: 1px solid $grey4;
        

        @include mq(min-width, $l-wd) {
          border: none;
          //padding: 1rem 0.5rem;
          text-align: center;
          //font-size: 0.75rem;
        }
      }
      
    }

    @include mq(min-width, $l-wd) {
      position: static;
      max-height: unset;

      @include d-flex(column, 1.666667rem);
      background-color: lighten($grey6, 4);
      border-radius: 1.666667rem;
      border: 1px solid $grey5;
      padding: 2rem;
    }


  }
}
