.account-wrapper {
  @include d-flex(column, 2rem);

  .account__navigation {
    padding: 0 27px;
  }
  .account__content {

    .woocommerce-notices-wrapper {
      padding: 0;
    }
    @include d-flex(column, 1.666667rem);
    background-color: lighten($grey6, 4);
    border-radius: 1.666667rem;
    border: 1px solid $grey5;
    padding: 2rem;
    margin: 0 1rem;

    form {
      @include d-flex(column, 1.666667rem);

      fieldset {
        margin: 1rem 0 0 0;
        padding: 0.5rem 0 0 0;
        border: none;
        border-top: 1px solid $grey4;

      }
    }

  }
}