.product-card {
  @include d-flex(column, 0);
  padding: 5px;
  
  img {
    width: 168px;
    height: 200px;
    object-fit: cover;
    margin: 0;
    display: block;
  }

  .product-info {
    @include d-flex(column, 32px);
    padding: 0 5px;

    .product-info__info {
      @include d-flex(column, 5px);
      padding-top: 1rem;

      .product-info__category {
        font-size: 0.833333rem;
        color: $grey-color;
        font-weight: 400;
        text-transform: uppercase;
      }

      .product-info__name {
        font-size: 1.083333rem;
        color: $text-color;
        font-weight: 600;
        text-transform: uppercase;
      }

      .product-info__price {
        font-size: 1.166667rem;
        color: $text-color;
        font-weight: 600;

        span {
          font-size: 0.833333em;
          text-decoration: line-through;
          color: $grey-color;

          &:before {
            content: '('
          }

          &:after {
            content: ')'
          }
        }
      }
    }

    .product-info__add-button {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 400;
      width: 100%;
    }
  }
}