.cart_totals {
  @include d-flex(column, 1.333333rem);
  padding: 2rem 27px;

  h2 {
    display: none;
  }

  .shop_table {

    tbody {
      @include d-flex(column, 0.5rem);
    }
    
    tr {
      @include d-flex(row, 1rem);
      justify-content: flex-start;

      &.order-total {
        font-size: 1.333333rem;
      }
    }
  }

  .wc-proceed-to-checkout {
    @include d-flex(row, 0);
    justify-content: stretch;
    a {
      text-align: center;
      border: 0;
      padding: 1rem;
      text-transform: uppercase;
      font-size: 1.166667rem;
      font-weight: 600;
      background-color: $magenta-color;
      color: $bg-color;
      width: 100%;
    }
  }
}