.coupon {
  @include d-flex(column, 0.666667rem);
  .field-group {
    align-items: flex-end;

    .field {
      flex: 3;
    }
    .btn {
      flex: 1;
      padding: 1rem 2rem;
      font-weight: 400;
      width: 100%;
      text-align: center;
    }
    
  }

  
}