.btn {
  border: 0;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.166667rem;
  font-weight: 500;
  @include mq(min-width, $m-wd) {
    padding: 0.75rem;
    font-size: 1rem;
  }

  
  
  &.btn-main {
    background-color: $magenta-color;
    color: $bg-color;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &.btn-secondary {
    background-color: $cyan-color;
    color: $text-color;
  }

  &.btn-product {
    @include d-flex(row, 0);
    justify-content: space-between;
    width: 100%;

    @include mq(min-width, $m-wd) {
      padding-left: 1.666667rem;
      padding-right: 1.666667rem;
    }
  }
}