footer {
  width: 100%;
  background-color: $text-color;
  color: $bg-color;
  padding: 3rem $s-pd 2rem;
  padding-bottom: 2rem;
  @include d-flex();


  @include mq(min-width, $m-wd){
    padding: 3rem $m-pd 2rem;
  }

  @include mq(min-width, $l-wd){
    padding: 3rem $l-pd 2rem;
  }

  @include mq(min-width, $xl-wd){
    padding: 3rem $xl-pd 2rem;
  }

  .footer-copyright {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.833333rem;

    @include mq(min-width, $m-wd){
      font-size: 0.75rem
    }
  }

  .footer-group {
    @include d-flex();

    @include mq(min-width, $m-wd){
      flex-direction: row;
    }

    .footer-info  {
      @include d-flex();

      @include mq(min-width, $m-wd){
        flex: 1;
      }

      .footer-newsletter {
        @include d-flex(column, 1rem);
        text-align: center;
        font-size: 1rem;
        font-weight: 400;

        .newsletter-title {
          margin: 0;
          font-size: 1.333333rem;
          font-weight: 700;
          text-transform: uppercase;

          @include mq(min-width, $m-wd){
            font-size: 1.25rem;
          }
        }

        .newsletter-input {
          border-bottom: 1px solid $grey-color;
          width: 100%;
          padding: 1rem 0;

          input {
            color: $bg-color;
            background: none;
            border: none;
            font-family: $font-family;
            letter-spacing: $letter-spacing;
            width: 100%;
            text-align: center;
          }
        }

        .newsletter-disclaimer {
          font-size: 0.666667rem;
          color: $grey-color;

          a {
            font-weight: 700;
          }
        }
      }

      
      .footer-socialmedia {
        @include d-flex(column, 1rem);
        align-items: center;
        text-align: center;

        @include logo(3.5rem, $bg-color);

        .socialmedia-title {
          margin: 0;
          font-size: 1.166667rem;
          font-weight: 700;
          text-transform: uppercase;
          
          @include mq(min-width, $m-wd){
            font-size: 1rem;
          }
        }

        .socialmedia-links {

          .menu {
            @include d-flex(row, 2rem);
            
            @include mq(min-width, $m-wd){
              gap: 1.5rem;
            }

            .menu-item {
              a {
                svg {
                  width: 20px;
                  height: 20px;
                  
                  fill: $bg-color;
                  path {
                    fill: inherit;
                  }

                  @include mq(min-width, $m-wd){
                    width: 24px;
                    height: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-nav {
    @include d-flex(row, 24px);
    text-transform: uppercase;
    font-size: 0.833333rem;

    @include mq(min-width, $m-wd){
      flex: 1;
    }
    
    .footer-col {
      @include d-flex(column, 12px);
      flex: 1 1 0;

      .nav-group {

        .nav-item {
          font-weight: 700;
          @include d-flex(column, 2px);
          
          .menu {
            @include d-flex(column, 2px);
            font-weight: 400;
          }
        }
      }
    }
  }

  &.footer-checkout {

    .footer-group {
      @include d-flex(row, 2rem);
      align-items: center;
      padding: 0 1.33333rem;
      justify-content: space-between;

      .footer-nav {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        .menu {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 0.5rem;
          grid-row-gap: 0.5rem;
          .menu-item {
            display: block;
            text-align: right;
          }

          @include mq(min-width, $m-wd){
            @include d-flex(row, 1rem);
          }
          
        }
      }
      .footer-logo {
        @include logo(3.5rem, $bg-color);
      }
    }
    
  }
}