footer {
  width: 100%;
  background-color: $text-color;
  color: $bg-color;
  padding: 27px;
  @include d-flex();

  .footer-copyright {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.833333rem;
  }

  .footer-group {
    @include d-flex();

    .footer-info  {
      @include d-flex();

      .footer-newsletter {
        @include d-flex(column, 1rem);
        text-align: center;
        font-size: 1rem;
        font-weight: 400;

        .newsletter-title {
          margin: 0;
          font-size: 1.333333rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        .newsletter-input {
          border-bottom: 1px solid $grey-color;
          width: 100%;
          padding: 1rem 0;

          input {
            color: $bg-color;
            background: none;
            border: none;
            font-family: $font-family;
            letter-spacing: $letter-spacing;
            width: 100%;
            text-align: center;
          }
        }

        .newsletter-disclaimer {
          font-size: 0.666667rem;
          color: $grey-color;

          a {
            font-weight: 700;
          }
        }
      }

      
      .footer-socialmedia {
        @include d-flex(column, 1rem);
        align-items: center;
        text-align: center;

        @include logo(3.5rem, $bg-color);

        .socialmedia-title {
          margin: 0;
          font-size: 1.166667rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        .socialmedia-links {

          .menu {
            @include d-flex(row, 2rem);
            
            .menu-item {
              a {
                svg {
                  width: 20px;
                  height: 20px;
                  fill: $bg-color;
                  path {
                    fill: inherit;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .footer-nav {
    @include d-flex(row, 24px);
    text-transform: uppercase;
    font-size: 0.833333rem;
    
    .footer-col {
      @include d-flex(column, 12px);
      flex: 1 1 0;

      .nav-group {
        @include d-flex(column, 2px);


        .nav-item:first-child {
          font-weight: 700;
        }
      }
    }
  }
}