h1, h2, .h1, .h2 {
  font-size: 1.666667rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;

  @include mq(min-width, $m-wd){
    // font-size: 1.5rem;
  }
}

h3, .h3 {
  font-size: 1.166667rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;

  @include mq(min-width, $m-wd){
    // font-size: 1.0333333rem;
  }
}