.side-padding {
	padding-left: $s-pd;
	padding-right: $s-pd;
	@include max-width-center($xl-wd);

	@include mq(min-width, $m-wd) {
    padding-left: $m-pd;
		padding-right: $m-pd;
  }

  @include mq(min-width, $l-wd) {
    padding-left: $l-pd;
		padding-right: $l-pd;
  }

  @include mq(min-width, $xl-wd) {
    padding-left: $xl-pd;
		padding-right: $xl-pd;
  }
}

.just-text-container {
	@include d-flex(column, 1rem);
}

.info-page {
	h3 {
		font-weight: 600 ;
	}

	ol {
		list-style: decimal;
    padding-left: 1.4rem;
    li {
      list-style: decimal;
      font-weight: 700;
      font-size: 1.133333rem
    }
	}
}