*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: 12px;

	@include mq(min-width, 800px) {
		font-size: 16px;
	}
}

body {
	background-color: $bg-color;
	color: $text-color;
	font-family: $font-family;
	letter-spacing: $letter-spacing;
	font-weight: 400;
	margin: 0;

	main {
		margin-top: 75px;
		padding: 1rem 0 2.666667rem;

		@include mq(min-width, 800px) {
			margin-top: 64px;
		}
	} 

	&.home {
		main {
			padding: 0 0 2.666667rem 0;
		}
	}

	&.woocommerce-order-received {
		.topbar-checkout {
			.return-bag {
				display: none;
				
			}
		}
	}
}

.container {
	@include d-flex(column, 0);
	padding-left: 27px;
	padding-right: 27px;
	padding-bottom: 2rem;
}
