.topbar {
  background-color: $bg-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 27px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 2;

  @include mq(min-width, 650px){
    padding:32px 64px;
  }

  @include mq(min-width, 1200px){
    padding:32px 208px;
  }

  .logo {
    color: $text-color;
    text-transform: uppercase;
    display: flex;
    align-items: center;;
    gap: 8px;
    margin: 0;
    font-size: 1.333333rem;
    font-weight: 600;

    @include logo();

    @include mq(min-width, 1024px){
      flex: 1 1 0;
    }
  }

  .navigation {
    position: absolute;
    background-color: $bg-color;
    top:100%;
    right: -100%;
    height: calc(100dvh - 75px);
    width: 75%;
    overflow-y: visible;
    padding: 44px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: right ease-in-out .3s;

    @include mq(min-width, 1024px){
      position: static;
      flex-direction: row;
      height: 100%;
      padding: 0;
      justify-content: center;
      flex: 1 1 0;
    }
    
    &.open {
      right: 0;
    }

    .menu-list {
      display: flex;
      flex-direction: column;
      gap: 2.666667rem;

      @include mq(min-width, 1024px){
        flex-direction: row;
        justify-content: center;
      }

      .menu-item {
        font-size: 1.333333rem;
        font-weight: 600;
        display: flex;
        flex-direction: column;
        gap: 1.333333rem;

        @include mq(min-width, 1024px){
          font-weight: 400;

          &:hover {
            .sub-menu {
              display: flex;
            }
          }
        }

        .sub-menu {
          display: flex;
          flex-direction: column;
          gap: 1.333333rem;

          @include mq(min-width, 1024px){
            display: none;
          }
          

          .menu-item {
            font-size: 1.166667rem;
            font-weight: 400;
          }
        }
        
      }
      
    }

    .nav-list-actions {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      @include mq(min-width, 1024px){
        display: none;
      }

      .nav-item-action {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0.3rem;
        cursor:pointer;

        @include icon();
      }
    }
  }

  .nav-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    @include mq(min-width, 1024px){
      flex: 1 1 0;
      justify-content: flex-end;
    }
    
    .nav-action {
      background: none;
      border: none;
      padding: 0;
      width: 2rem;
      height: 2rem;
      cursor:pointer;
      
      @include icon();

      &.nav-account, &.nav-locale {
        display: none;

        @include mq(min-width, 1024px){
          display: block;
        }
      }

      &.nav-toggle {
        @include mq(min-width, 1024px){
          display: none;
        }
      }

      .burguer-menu-icon {
        display: block;
      }

      .close-menu-icon {
        display: none;
      }

      &.nav-bag {
        position: relative;

        .nav-bag__number {
          @include d-flex();
          justify-content: center;
          align-items: center;
          position: absolute;
          z-index: 3;
          font-size: 0.833333rem;
          font-weight: 600;
          color: $bg-color;
          border-radius: 50%;
          height: 1.333333rem;
          width: 1.333333rem;
          left: 70%;
          bottom: 70%;
          background-color: $magenta-color;
        }
      }
    }

    &.open {
      .nav-action {

        &.nav-bag {
          display: none;
        }

        .burguer-menu-icon {
          display: none;
        }
  
        .close-menu-icon {
          display: block;
        }
      }
      
    }
  }

  &.topbar-checkout {
    .return-bag {
      margin-right: 0.5rem;
      font-weight: 600;
      @include d-flex(row, 0.5rem);
      align-items: center;

      svg {
        width: 1rem;
        height: 1rem;
        stroke-width: 2px;
      }
      
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.20);
  z-index: 1;

  @include mq(min-width, 1024px){
    display:none;
  }
}