.product-card {
  @include d-flex(column, 0);
  padding: 5px;
  width: 50%;

  @include mq(min-width, 500px) {
    width: 33.333333%;
  }

  @include mq(min-width, $m-wd) {
    width: 25%;
  }

    
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    display: block;
  }

  .product-info {
    @include d-flex(column, 2rem);
    padding: 0 5px 2.5rem;
    position: relative;

    @include mq(min-width, $m-wd) {
      gap: 1rem;
    }

    .product-info__info {
      @include d-flex(column, 5px);
      padding-top: 1rem;

      .product-info__category {
        font-size: 0.833333em;
        color: $grey-color;
        font-weight: 400;
        text-transform: uppercase;
        // @include mq(min-width, $m-wd) {
        //   font-size: 0.625em;
        // }
      }

      .product-info__name {
        font-size: 1.083333em;
        color: $text-color;
        overflow: hidden;
        height: 3rem;
        font-weight: 600;
        text-transform: uppercase;

        // @include mq(min-width, $m-wd) {
        //   font-size: 0.833333em;
        // }
      }

      .product-info__price {
        
        font-size: 1.166667em;
        color: $text-color;
        font-weight: 600;

        .price__discount {
          font-size: 0.833333em;
          text-decoration: line-through;
          color: $grey-color;

          &:before {
            content: '('
          }

          &:after {
            content: ')'
          }
        }

        @include mq(min-width, $m-wd) {
          display: none;
        }
      }
    }

    .add_to_cart_button {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      font-weight: 500;
      width: 100%;
      text-align: center;

      .price {
        display: none;
      }

      @include mq(min-width, $m-wd) {
        //font-size: 0.75em;
        .price {
          font-weight: 700;
          display: block;
        }
      }

      @include mq(min-width, 900px) {
        text-align: left;
        @include d-flex(row, 0);
        justify-content: space-between;
        
      }

      @include mq(min-width, 1130px) {
        //font-size: 0.833333em;
      }
    }

    .added_to_cart {
      position: absolute;
      bottom: 0;
      left: 5px;
     // transform: translateX(-50%);
      border-left: 3px solid $yellow-color;
      //border-right: 3px solid $yellow-color;
      background-color: lighten($yellow-color, 35);
      padding: 0.25rem 1rem;
      color: $text-color;
      font-weight: 500;

      @include mq(min-width, $m-wd) {
        //font-size: 0.75em;
      }

      @include mq(min-width, 1130px) {
        //font-size: 0.833333em;
      }
    }
  }
}