.product-slider {
  @include d-flex(column, 1rem);
  padding: 1rem 0 2.666667rem;
  max-width: 1440px;
  @include max-width-center();

  .product-slider-title {
    padding: 0 $s-pd;

    @include mq(min-width, $m-wd) {
      padding: 0 $m-pd;
    }

    @include mq(min-width, $l-wd) {
      padding: 0 $l-pd;
    }

    @include mq(min-width, $xl-wd) {
      padding: 0 $xl-pd;
    }
  }

  .product-slider__wrapper {
    margin-bottom: 35px;

    @include mq(min-width, $m-wd) {
      margin: 0 $m-pd 35px;
    }

    @include mq(min-width, $l-wd) {
      margin: 0 $l-pd 35px;
    }

    @include mq(min-width, $xl-wd) {
      margin: 0 $xl-pd 35px;
    }
    

    .flickity-button {
      display: none;

      @include mq(min-width, $m-wd) {
        display: block;

        &.previous {
          left: -50px;
        }

        &.next {
          right: -50px;
        }
      }
    }


    .product-card {
      width: 178px;
      padding: 5px;

      @include mq(max-width, 380px) {
        width: 150px;
        font-size: 11px;
      }

      @include mq(min-width, 500px) {
        width: 30%;
      }

      @include mq(min-width, $m-wd) {
        width: 25%;
      }
    }
  }

  .product-slider__btn {
    align-self: center;
    padding-left: 5rem;
    padding-right: 5rem;
    //margin-top: 35px;
  }

  .flickity-page-dots {
    bottom: -22px;
    @include d-flex(row, 0);
    width: 100%;
    padding-left: 27px;
    padding-right: 27px;
    justify-content: stretch;
  }
  /* dots are lines */
  .flickity-page-dots .dot {
    margin: 0;
    width: 100%;
    height: 4px;
    border-radius: 0;
    background-color: $grey4;
  }

  // .product-slider-wrapper {
  //   @include d-flex(column, 0);

  //   .product-items-slider {
  //     @include d-flex(row, 4px);
  //     flex-wrap: nowrap;
  //     padding: 0 0 0 27px;
  //     overflow-x: scroll;
  //     overflow-y: hidden;
  //   }

  //   .product-slider-bar {
  //     margin: 14px 27px;
  //     background-color: lighten($grey-color, 50%);

  //     .product-slider-bar-thumb {
  //       height: 4px;
  //       width: 10%;
  //       background-color: lighten($grey-color, 30%);;
  //     }
  //   }
  // }
}