.product-slider {
  @include d-flex(column, 1rem);
  padding: 2.666667rem 0;

  .product-slider-title {
    padding: 0 27px;
  }

  .product-slider-wrapper {
    @include d-flex(column, 0);

    .product-items-slider {
      @include d-flex(row, 4px);
      flex-wrap: nowrap;
      padding: 0 0 0 27px;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .product-slider-bar {
      margin: 14px 27px;
      background-color: lighten($grey-color, 50%);

      .product-slider-bar-thumb {
        height: 4px;
        width: 10%;
        background-color: lighten($grey-color, 30%);;
      }
    }
  }
}