.product-card {
  @include d-flex(column, 0);
  padding: 5px;
  width: 50%;

  &.product-slider__card {
    width: 178px;
  }
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
    display: block;
  }

  .product-info {
    @include d-flex(column, 2rem);
    padding: 0 5px;

    .product-info__info {
      @include d-flex(column, 5px);
      padding-top: 1rem;

      .product-info__category {
        font-size: 0.833333rem;
        color: $grey-color;
        font-weight: 400;
        text-transform: uppercase;
      }

      .product-info__name {
        font-size: 1.083333rem;
        color: $text-color;
        overflow: hidden;
        height: 3rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      .product-info__price {
        
        font-size: 1.166667rem;
        color: $text-color;
        font-weight: 600;

        .price__discount {
          font-size: 0.833333em;
          text-decoration: line-through;
          color: $grey-color;

          &:before {
            content: '('
          }

          &:after {
            content: ')'
          }
        }
      }
    }

    .add_to_cart_button {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      font-weight: 400;
      width: 100%;
      text-align: center;
    }
  }
}